<!doctype html> 
<html lang="en"> 
    <head> 
        <meta charset="utf-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
        <meta name="description" content=""> 
        <meta name="author" content=""> 
        <title>Auntie - Search for retail goodies</title>         
        <!-- Bootstrap core CSS -->         
        <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet"> 
        <!-- Custom styles for this template -->         
        <link href="assets/css/auntie.css" rel="stylesheet"> 
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
        <style>.app-fab--absolute {
                    position: fixed;
                    bottom: 1rem;
                    right: 1rem;
                }

                @media (min-width: 1024px) {
                    .app-fab--absolute {
                        bottom: 1.5rem;
                        right: 1.5rem;
                    }
                }
        </style>
    </head>     
    <body class="bg-light"> 
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-danger"> 
            <a class="navbar-brand mr-auto mr-lg-0" href="/">Auntie</a> 
            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas"> 
                <span class="navbar-toggler-icon"></span> 
            </button>             
            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault"> 
                <form class="form-inline my-2 my-lg-0 mt-lg-0 mb-lg-0 ml-lg-5" action="/search" method="get"> 
                    <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> 
                    <button class="btn my-2 my-sm-0 btn-light" type="submit">Search</button>                     
                </form>                 
                <ul class="navbar-nav ml-auto"> 
                    <li class="nav-item"> 
                        <a class="nav-link" href="/deals">Deals</a> 
                    </li>                     
                    <li class="nav-item"> 
                        <a class="nav-link" href="/events">Events</a> 
                    </li>                
                    <% if (!user) { %>
                    <li class="nav-item"> 
                        <a class="nav-link" href="/register">Register</a> 
                    </li>   
                    <li class="nav-item"> 
                        <a class="nav-link" href="/login">Login</a> 
                    </li>    
                    <% }  %>                  
                    <% if (user) { %>
                        <li class="nav-item dropdown "> 
                            <a class="nav-link dropdown-toggle" href="/dashboard" id="dropdown01" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Controls</a> 
                            <div class="dropdown-menu" aria-labelledby="dropdown01"> 
                                <a class="dropdown-item" href="/profile">Profile</a> 
                                <a class="dropdown-item" href="/settings">Settings</a> 
                                <a class="dropdown-item" href="/logout">Log out</a> 
                            </div>                         
                        </li>                         
                    <% }  %>
                </ul>                 
            </div>             
        </nav>                   
        <div class="container"> 
            <div class="row" style="height: 30px;"></div>             
        </div>  
        <button class="mdc-fab app-fab--absolute bg-danger" aria-label="add" onclick="location.href='/events/recommend'">
            <span class="mdc-fab__icon material-icons">add</span>
        </button>       
        <main role="main" class="container"> 
            <div class="row">                            
                <div class="col-lg-9 col-md-12"> 
                    <% if(events.length > 0) {%>
                        <% for(var i=0; i < events.length; i++) { %>       
                    <div class="card flex-md-row box-shadow h-md-250 flex-row mb-2"> 
                        <div style="width: auto; height: auto; max-width: 30%; vertical-align: middle; min-width: 160px; min-height: 160px; padding-left: 0; padding-right: 0;" class="d-flex align-items-center col-4"> 
                            <img src=<%= events[i].filename %> alt="Event Poster" class="img-fluid ml-1"> 
                        </div>                         
                        <div class="card-body flex-column d-flex align-items-start"> 
                            <h4 class="mb-0"><%= events[i].title %></h4> 
                            <div class="mb-1 text-muted d-flex justify-content-between align-self-stretch">
                                <p><%= events[i].company %></p>
                                <p><%= events[i].start %> till <%= events[i].end %></p>
                            </div>
                            <div class="card-text mb-auto"><%- events[i].description %></div> 
                        </div>                         
                    </div>      
                        <% } %>
                    <% } else { %> 
    
                    <% } %>                  
                </div>         
                <div class="col-md-3 offcanvas-collapse"> 
                    <h3>Filter results</h3> 
                    <p>Work in Progress!</p> 
                </div>                 
            </div>             
        </main>         
        <!-- Bootstrap core JavaScript
    ================================================== -->         
        <!-- Placed at the end of the document so the pages load faster -->         
        <script src="assets/js/jquery.min.js"></script>         
        <script src="assets/js/popper.js"></script>         
        <script src="assets/bootstrap/js/bootstrap.min.js"></script> 
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>        
        <script>
        $(document).ready(function () {
            $('[data-toggle="offcanvas"]').on('click', function () {
                $('.offcanvas-collapse').toggleClass('open');
            });
        });
    </script>         
    </body>     
</html>